@import "./base.css";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
  height: 100%;
  font-family: "Lora", serif;
}

:root {
  /* главный цвет */
  --blue-color: #002654;
  /* оттенок главного цвета */
  --red-color: #ed2939;
  /* вторичный главный цвет */
  --gold-color: #e1e1e1;
  /* цвет для всех меню (модальное окно, карточки сервисов...) */
  --white-color: #fff;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
