@import "./base.css";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
  height: 100%;
  font-family: "Lora", serif;
  scroll-behavior: smooth;
}

:root {
  /* главный цвет */
  --blue-color: #002654;
  /* оттенок главного цвета */
  --red-color: #ed2939;
  /* вторичный главный цвет */
  --gold-color: #e19420;
  /* безопасный цвет */
  --white-color: #ffffff;

  --gray-color: #202326;
}

body.lock {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #bababa;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: #bababa;
  border-radius: 20px;
  border: 3px solid var(--gold-color);
}

.blue {
  color: var(--blue-color);
}

.red {
  color: var(--red-color);
}

.white {
  color: var(--white-color);
}

.dark-gray-bg {
  background: var(--gray-color);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1830px;
  padding: 15px;
  margin: 0 auto;
}

.full-screen {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-screen__body {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-screen__title {
  color: var(--white-color);
  font-size: clamp(32px, 6vw, 84px);
  position: relative;
  z-index: 4;
  max-width: 1250px;
  text-align: center;
}

.full-screen__content {
  position: relative;
  z-index: 3;
  text-align: center;
  max-width: 750px;
}

.full-screen__content::after {
  content: "";
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.full-screen__text {
  font-size: clamp(18px, 3vw, 28px);
  color: var(--white-color);
  margin-bottom: 30px;
  position: relative;
  z-index: 4;
}

.full-screen__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-screen__btn {
  font-family: "Lora", serif;

  display: inline-block;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  padding: 10px 30px;
  border-radius: 10px;
  font-size: clamp(16px, 3vw, 26px);
  text-decoration: none;
  transition: all 0.4s ease;
  position: relative;
  z-index: 4;
}

.full-screen__btn:hover {
  background-color: var(--white-color);
  color: var(--blue-color);
}

.section__text {
  margin: 0 auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.section__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 900px;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  text-align: center;
  background: var(--blue-color) !important;
}

.biography {
  position: relative;
  z-index: 3;
}
.section__block {
  display: flex;
}

.section__img {
  margin: 0 auto;
}

.section__img img {
  max-height: 500px;
  max-width: 100%;
}
.img-section-descripton {
  text-align: center;
  margin-top: 10px;
  color: var(--white-color);
  font-style: italic;
}

.biography__top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}
.section__volume {
  font-size: 32px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__title {
  text-align: center;
  font-size: clamp(32px, 4vw, 48px);
}
.army-wrapper {
  gap: 40px;
}

.block-section__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.block-section:nth-child(even) .block-section__wrapper {
  flex-direction: row-reverse;
}

.block-section__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block-section__title {
  text-align: center;
  font-size: clamp(22px, 3.5vw, 36px);
  margin-bottom: 20px;
}

.section__block .block-section__text {
  flex: 0 1 30%;
}
.section__block img {
  flex: 0 1 60%;
}

.section__block .section__img {
  margin: 0 0 0 0;
}
.biography__img {
  margin: 0 auto !important;
}

.section__paragraph {
  font-size: clamp(14px, 0.5vw, 16px);
}
@media (max-width: 992px) {
  .block-section__wrapper {
    justify-content: space-between;
  }

  .section__block .block-section__text {
    flex: 1 1 30%;
  }
}

@media (max-width: 680px) {
  .block-section__wrapper,
  .block-section:nth-child(even) .block-section__wrapper {
    flex-direction: column;
  }

  .block-section__img img {
    max-width: 320px !important;
  }
}
@media (max-width: 568px) {
  .full-screen__title span {
    font-size: clamp(21px, 6vw, 84px);
  }
  .block-section__img img {
    max-width: 280px !important;
    height: 420px !important;
  }
}
